@import "macchiato.css";

* {
    font-family: "JetBrains Mono", Roboto, Helvetica, Arial, sans-serif;
    font-size: 18px;
}

window#waybar {
    background-color: @base;
    border-radius: 12px;
    transition-property: background-color;
    transition-duration: 0.5s;
}

/*button {
    box-shadow: inset 0 -3px transparent;
    border: none;
    border-radius: 0;
} */

/*button:hover {
    background: inherit;
    box-shadow: inset 0 -3px #ffffff;
}*/

/*#pulseaudio:hover {
    background-color: @surface2;
    border-radius: 20;
}*/

#workspaces button {
    transition: all 200ms ease-in-out;
    padding: 0 5px;
    background: transparent;
    border-radius: 15px;
    color: @lavender;
}

#workspaces button.active {
    background: @overlay0;
    min-width: 50px;
}

#clock,
#backlight,
#battery,
#cpu,
#memory,
#temperature,
#network,
#language,
#pulseaudio {
    padding: 0 10px;
}

#pulseaudio {
    color: @maroon;
}

#network {
    color: @green;
}

#language {
    color: @text;
}

#battery {
    color: @;
}

#clock {
    color: @flamingo;
}

#memory {
    color: @green;
}

#window {
    color: @text;
}

#backlight {
    color: @yellow;
}

.modules-right,
.modules-left,
.modules-center {
    background-color: @base;
    border-radius: 15px;
}
.modules-right {
    padding: 0 10px;
}

.modules-left {
    padding: 0 20px;
}

.modules-center {
    padding: 0 10px;
}
#battery.charging,
#battery.plugged {
    color: @sapphire;
}

@keyframes blink {
    to {
        color: #000000;
    }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

/*label:focus {
    background-color: #000000;
}*/

#pulseaudio.muted {
    color: @text;
}
